/* public/styles/main.css */

:root {
    --panel-width: 10vw;
    --viewer-width: 45vw;
    --stat-width: 45vw;
}

body, html #stats, #panelContainer, #cesium3DViewContainer, #cesium2DViewContainer, #cesiumContainerWidgets {
    background: #000000 !important;
    color: #fff !important;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*border and line*/
#stats, #panelContainer, #cesium3DViewContainer, #cesium2DViewContainer {
    a {
        color: papayawhip;

        &:hover {
            color: #a89c85;
        }
    }
}

#stats {
    position: absolute;
    top: 0;
    left: calc(var(--panel-width) + var(--viewer-width));
    width: var(--stat-width);
    bottom: 30px;
}

#panelContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--panel-width);
    bottom: 0;
}

#cesium3DViewContainer, #cesium2DViewContainer {
    position: absolute;
    left: var(--panel-width);
    width: var(--viewer-width);
}

#cesium3DViewContainer {
    top: 0;
    bottom: calc(var(--viewer-width) * 0.5 + 30px);
}

#cesium2DViewContainer {
    height: calc(var(--viewer-width) * 0.5);
    bottom: 30px;
}

#satInfo {
    position: absolute;
    top: 0;
    left: var(--panel-width);
    width: max-content;
    background: rgba(28, 28, 56, 0.6);
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    z-index: 9;
    display: none;
}

#cesiumContainerWidgets {
    position: absolute;
    /*top: 100%;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

#cesiumContainerAnimation {
    height: 90px;
    width: 136px;
}

#cesiumContainerTimeline {
    left: 136px;
    flex: 1; /* Use remaining width */
    top: -30px;
}

/* Loading Overlay */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible; /* Visible state */
    transition: opacity 1s ease, visibility 1s ease; /* Transition for opacity and visibility */
}

#loadingOverlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.cesium-selection-wrapper svg {
    fill: #fff !important;
    stroke: #fff !important;
    stroke-width: 3px !important;
    z-index: -1 !important;
}

.cesium-selection-wrapper svg path {
    transform: scale(0.2) !important;
    z-index: -1 !important;
}


/* Include the CSS from Step 4 here */
.option-item.selected {
    background-color: #343a40;
}

.option-item.unselected {
    background-color: #343a40;
    opacity: 0.8;
    color: lightslategray !important;
}

.option-item:hover {
    background-color: #495057;
    opacity: 1;
    color: antiquewhite !important;
}
