/* public/styles/main.css */

body, html, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #040404;
}

#stats {
    position: absolute;
    top: 40%;
    left: 50%;
    right: 0;
    bottom: 30px;
    /*bg color and repeated shape TODO */
    /*background: #181818 url(../img/img.png) repeat 0 0;*/
}

#cesiumContainer3D {
    background-color: rgba(0, 0, 0, 0) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#cesiumContainer3DWidgets {
    background-color: rgba(0, 0, 0, 0) !important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

#cesiumContainer2D {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 40%;
}

#cesiumContainerWidgets {
    /*bg colour 181818*/
    background-color: #181818;
    position: absolute;
    /*top: 100%;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

#cesiumContainerAnimation {
    height: 90px;
    width: 136px;
}

#cesiumContainerTimeline {
    left: 136px;
    flex: 1; /* Use remaining width */
    top: -30px;
}

/* Loading Overlay */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible; /* Visible state */
    transition: opacity 1s ease, visibility 1s ease; /* Transition for opacity and visibility */
}

#loadingOverlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cesium-selection-wrapper svg {
    fill: none !important;
    stroke: #fff !important;
    stroke-width: 2px !important;
}